/* Zero */
* {
  margin: 0;
  padding: 0;
  bottom: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
head,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Zero */

body {
  background-color: #1c1b21;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1110px;
  /* padding: 0 15px; */
  margin: 0 auto;
}
.header__container {
  background: url(img/header__back.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header__back {
  height: 100%;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #1c1b21 92.19%
  );
}
/* ===== */
.wrapper {
  max-width: 975px;
}
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.progress__container {
  border: 2px solid white;
  width: 887px;
  position: relative;
  cursor: pointer;
  background-color: white;
}
.progress {
  border: 1px solid #7a66cc;
  background-color: #7a66cc;
}
.buttons {
}
.btn svg {
  cursor: pointer;
}
.play {
}
.img__src {
  width: 40px;
  height: 40px;
}

/* ====== */

a {
  cursor: pointer;
}
.header {
}
.header__container {
}
.container {
}
.menu {
}
.header__logo-container {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-right: 14px;
}
.menu__list {
  width: 625px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.menu__list a {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: white;
}
.header__menu-logo {
  width: 905px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
.header__title-place {
  padding-top: 313px;
  padding-bottom: 8px;
}
.title__audio {
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.menu__nav {
}
.menu__list-item {
}
.header__title {
}
.about {
  padding-top: 340px;
  padding-left: 8px;
}

.section-about-title {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding-bottom: 60px;
}
.section__about-text {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  width: 540px;
  letter-spacing: 0.05px;
}
.section__about-wrapper {
  display: flex;
  justify-content: space-between;
}
.section__about-info {
  padding-bottom: 20px;
}

.section__about-items {
  padding-bottom: 140px;
}
.section__about-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  /* padding-bottom: 25px; */
}
.section__about-item::before {
  content: url(svg/itemAbout.svg);
  padding-right: 20px;
  vertical-align: middle;
}
.section__about-one {
  width: 475px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
}
.section__about-two {
  width: 530px;
  display: flex;
  justify-content: space-between;
}
.section__about-foto {
}
.images__foto {
  border-radius: 30px;
}
.news {
  padding-top: 87px;
}
.newsImages {
  z-index: 1;
  position: absolute;
  top: -85px;
  right: 82px;
}
.section__news-text {
  display: flex;
  justify-content: space-between;
  padding: 0px 84px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px 0px;
  position: relative;
}
.border {
  padding-bottom: 50px;
}
.section__news-text p {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.4px;
  width: 520px;
}
.line {
  border: solid 1px color white;
  width: 520px;
  margin: 20px 0px 25px 0px;
}
.popUpRef {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.news__wrapper {
  /* width: 1110px;
  height: 313px; */
  /* border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px 0px; */
  padding-top: 50px;
}
.music {
  padding-top: 340px;
  padding-bottom: 300px;
}
.links__shop-items h3 {
  font-size: 24px;
  line-height: 36px;
}
.audio__player-wrapper {
}
.container__audio {
  width: 1110px;
  /* padding: 0 15px; */
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}

.misic__images {
  position: relative;
}
.music__title {
  display: flex;
  justify-content: space-between;
  width: 365px;
}
.misic__images {
  /* border: 15px solid #7a66cc;
  border-radius: 235px; */
}
.music__audio-player {
}
.list__tracks li {
  max-width: 493px;
  margin-bottom: 20px;
}
.list__tracks {
  padding-bottom: 28px;
  counter-reset: number;
}
.track__item a {
  color: white;
  font-size: 18px;
  line-height: 27px;
}
.track__item::before {
  content: "0" counter(number);
  counter-increment: number;
  padding-right: 17px;
  opacity: 0.5;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
.track__item a:active {
  color: #7a66cc;
}
/* ====== Player */
.low__button {
  width: 40px;
  height: 40px;
}
.playerLow {
}
.progress__containerLow {
  border: 2px solid #ffffff;
  max-width: 470px;
  cursor: pointer;
  margin-top: 35px;
}

.low__button {
  background-color: #7a66cc;
  border-radius: 20px;
  cursor: pointer;
}
.buttonsLow {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  margin: 35px 0px;
}
/* ====== Player */
.track__item a:hover {
  color: #7a66cc;
}
.links__shop-items {
  display: flex;
  justify-content: space-between;
  width: 370px;
  align-items: center;
}
.shop-items {
  display: flex;
  justify-content: space-between;
  width: 205px;
}
.shop-item {
}
/* Section media */
.media__items {
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  grid-template-rows: 260px 235px;
  font-size: 1.6em;
  position: relative;
}
.media {
  padding-bottom: 200px;
}
.item5 {
  grid-column: 2/4;
}
.title__item {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #7a66cc;
  bottom: 100px;
  left: 400px;
}
/* ================================= */
.tours {
  padding-bottom: 200px;
}
.section__tours-items {
  display: flex;
  justify-content: space-between;
}
.section__tours-item {
  border-radius: 30px 0px;
  background-color: #2f2b2b;
  max-width: 350px;
  height: 473px;
}
.place__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.5;
  padding-top: 29px;
  padding-bottom: 22px;
  padding-left: 33px;
}
.location__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 28px;
  padding-left: 33px;
}
.time__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.5;
}
.buy_tickets-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  width: 180px;
  height: 60px;
  background: #7a66cc;
  border-radius: 30px 0px;
}
.buy__tickets-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.contacts {
}
.logo__wrapper {
  display: flex;
}
.logo__container {
  margin: 0 auto;
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-right: 14px;
}

.contacts_logo {
}
.contacts_info-links {
}
.contact {
}
.contact__title {
}
.social {
}
.social__items {
}
.social__item {
}
.footer {
}
