/* Zero */
* {
  margin: 0;
  padding: 0;
  bottom: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
head,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Zero */

body {
  background-color: #1c1b21;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1110px;
  /* padding: 0 15px; */
  margin: 0 auto;
}
.header__container {
  background: url(img/header__back.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header__back {
  height: 100%;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #1c1b21 92.19%
  );
}
/* ===== */
.wrapper {
  max-width: 975px;
}
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.progress__container {
  border: 2px solid white;
  width: 887px;
  position: relative;
  cursor: pointer;
  background-color: white;
}
.progress {
  border: 1px solid #7a66cc;
  background-color: #7a66cc;
}
.buttons {
}
.btn svg {
  cursor: pointer;
}
.play {
}
.img__src {
  width: 40px;
  height: 40px;
}

/* ====== */

a {
  cursor: pointer;
}
.header {
}
.header__container {
}
.container {
}
.menu {
}
.header__logo-container {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-right: 14px;
}
.menu__list {
  width: 625px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.menu__list a {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: white;
}
.header__menu-logo {
  width: 905px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
.header__title-place {
  padding-top: 313px;
  padding-bottom: 8px;
}
.title__audio {
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.menu__nav {
}
.menu__list-item {
}
.header__title {
}
.about {
  padding-top: 340px;
  padding-left: 8px;
}

.section-about-title {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding-bottom: 60px;
}
.section__about-text {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  width: 540px;
  letter-spacing: 0.05px;
}
.section__about-wrapper {
  display: flex;
  justify-content: space-between;
}
.section__about-info {
  padding-bottom: 20px;
}

.section__about-items {
  padding-bottom: 140px;
}
.section__about-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  /* padding-bottom: 25px; */
}
.section__about-item::before {
  content: url(svg/itemAbout.svg);
  padding-right: 20px;
  vertical-align: middle;
}
.section__about-one {
  width: 475px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
}
.section__about-two {
  width: 530px;
  display: flex;
  justify-content: space-between;
}
.section__about-foto {
}
.images__foto {
  border-radius: 30px;
}
.news {
}
.section__news-text {
}
.section__news-text p {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.4px;
  width: 520px;
}
.line {
  border: solid 1px color white;
}
.music {
}
.misic__images {
}
.music__title {
}
.music__audio-player {
}
.list__tracks {
}
.track__item {
}
.links__shop-items {
}
.shop-items {
}
.shop-item {
}
.media {
}
.section__media-foto {
}
.media__foto {
}
.tours {
}
.section__tours-items {
}
.section__tours-item {
}
.place__title {
}
.location__title {
}
.time__title {
}
.buy_tickets-btn {
}
.contacts {
}
.contacts_logo {
}
.contacts_info-links {
}
.contact {
}
.contact__title {
}
.social {
}
.social__items {
}
.social__item {
}
.footer {
}
